@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Gamja Flower', serif;
  }
  
  .calendar {
    width: 900px;
    margin:auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:20px;
  }
  
  .year-month {
    font-size: 35px;
    color:#46669f;
    font-size: 40px;
    font-weight:bolder;
  }
  
  .nav {
    display: flex;
    border: 3px solid #89a0ef;
    border-radius: 5px;
  }
  
  .nav-btn {
    width: 28px;
    height: 30px;
    border: 1px solid #89a0ef;
    font-size: 16px;
    background-color: #89a0ef;
    cursor: pointer;
    border-color:#89a0ef;
    font-weight: bolder;
    color: #FFFFFF;
  }
  
  .go-today {
    width: 75px;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }
  
  .days {
    display: flex;
    margin: 25px 0 10px;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
  }
  
  .dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
  }
  
  .date {
    width: calc(100% / 7);
    padding: 15px;
    border-radius: 10px;
    text-align: right;
    border: 1px solid #90a3ed;
  }
  
  .day:nth-child(7n + 1),
  .date:nth-child(7n + 1) {
    color: #D13E3E;
  }
  
  .day:nth-child(7n),
  .date:nth-child(7n) {
    color: #396EE2;
  }
  
  .other {
    opacity: 0.3;
  }
  
  .today {
    position: relative;
    color: #FFFFFF;
  }
  
  .today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
  }

