<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Welcome my diary</title>

</head>
<body>
    <div>
        <h1>Today Diary</h1>
        <div class="calendar-div">
            
        </div>
        <button type="button" onclick="location.href='write'">
            <img src="{%static 'write.png' %}"> 
            </img> 
    
        </button>
    </div>
</body>
</html>