<!doctype html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Welcome my diary</title>

</head>
<body>
    <div>
        <h1>Diary List</h1>
    </div>
        <div class='tbl-header'>
            <table class="tbl">
                <thead>
                    <tr>
                        <th class='tbl-th' id='th1'>num</th>
                        <th class='tbl-th' id='th2'>title</th>
                        <th class='tbl-th' id='th3'>date</th>
                    </tr>
                </thead>
            </table>
            <div class="tbl-content">
                <table class="tbl">
                    <tbody>
                    {% for diary in write_diary %}
                        <tr>
                            <td class='tbl-td' id='th1'>{{ diary.id }}</td>
                            <td class='tbl-td' id='th2'>{{ diary.title }}</td>
                            <td class='tbl-td' id='th3'>{{ diary.date }}</td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div>
            <button class='btn-fill'id='btn-home'type="button" onclick="location.href='/'">home</button> 
        </div>
    </body>

</html>